<h3>アカウントは下記にてログインできます</h3>
<p>email:test@test.co.jp</p>
<p>password:password</p>
<h3>本作品を作成した経緯</h3>
<p>本作品はボクシングジムのホームページをイメージしております。</p>
<p>ジムのメンバーの誰がいつ頃に来て、練習中なのか、ジムのお休みの日はいつなのかを確認できるように作成しております。</p>
<p>私がお世話になっているボクシングジムは営業日を確認する際、ジムのブログから休館日を投稿している記事を探して確認す</p>
<p>るか電話するくらいしかなくホームページで一眼で確認できたらいいなと思ったのと誰が練習中かわかったらその人と対人練習できるなと</p>
<p>事前にイメージが湧くので機能をつけました。</p>
<h3>使用している技術</h3>
AWS(EC2,IAM,VPC,ELB,Route53),Rails(Ver6)
<h3>Git Hub</h3>
<p><%= link_to "ソースコード", "https://github.com/yuya-ponkotu/boxing_HomePse" %></p>
<h3>Qiita</h3>
<p><%= link_to "Qiita", "https://qiita.com/yuya_goshima" %></p>
<p>インフラは下記のようになっております</p>
<%= image_tag 'infra_image_boxingHomePage.png', class: 'readme_infra_image' %>